<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./flowstep10.css" rel="stylesheet" />

      <div class="flowstep10-container">
        <div class="flowstep10-flowstep10">
          <div class="flowstep10-topbar">
            <div class="flowstep10-topbararrowback">
              <div class="flowstep10-leadingicon">
                <div class="flowstep10-container1">
                  <div class="flowstep10-statelayer">
                    <img
                      alt="iconarrowbackI561"
                      src="public/external/iconarrowbacki561-wk3o.svg"
                      class="flowstep10-iconarrowback"
                    />
                  </div>
                </div>
              </div>
              <span class="flowstep10-text"><span>Ramię w ramię</span></span>
              <div class="flowstep10-iconlogosafespace">
                <img
                  alt="iconlogoI561"
                  src="public/external/iconlogoi561-x2lv.svg"
                  class="flowstep10-iconlogo"
                />
              </div>
            </div>
          </div>
          <button class="flowstep10-button">
            <span class="flowstep10-text02"><span>Anuluj</span></span>
          </button>
          <span class="flowstep10-text04">
            <span>Szukam osoby, która również chce iść na kawę...</span>
          </span>
          <div class="flowstep10-illustration">
            <div class="flowstep10-searchenginesrafiki2">
              <div class="flowstep10-freepikbackgroundcompleteinject2">
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-3m1.svg"
                  class="flowstep10-vector"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-n4kv.svg"
                  class="flowstep10-vector001"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-05d.svg"
                  class="flowstep10-vector002"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-cv9s.svg"
                  class="flowstep10-vector003"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-aiv.svg"
                  class="flowstep10-vector004"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-r4ge.svg"
                  class="flowstep10-vector005"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-vuu.svg"
                  class="flowstep10-vector006"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-z788.svg"
                  class="flowstep10-vector007"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-vyq.svg"
                  class="flowstep10-vector008"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-7itz.svg"
                  class="flowstep10-vector009"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-37k7.svg"
                  class="flowstep10-vector010"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-8cg.svg"
                  class="flowstep10-vector011"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-gjol.svg"
                  class="flowstep10-vector012"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-kftg.svg"
                  class="flowstep10-vector013"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-wos.svg"
                  class="flowstep10-vector014"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-ldil.svg"
                  class="flowstep10-vector015"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-vv6d.svg"
                  class="flowstep10-vector016"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-j67o.svg"
                  class="flowstep10-vector017"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-ob9t.svg"
                  class="flowstep10-vector018"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-6pzv.svg"
                  class="flowstep10-vector019"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-63ca.svg"
                  class="flowstep10-vector020"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-51x8.svg"
                  class="flowstep10-vector021"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-apqb.svg"
                  class="flowstep10-vector022"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-nkud.svg"
                  class="flowstep10-vector023"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-1chm.svg"
                  class="flowstep10-vector024"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-osqie.svg"
                  class="flowstep10-vector025"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-mcrc.svg"
                  class="flowstep10-vector026"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-qwmo.svg"
                  class="flowstep10-vector027"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-2ikh.svg"
                  class="flowstep10-vector028"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-t9q.svg"
                  class="flowstep10-vector029"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-5emg.svg"
                  class="flowstep10-vector030"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-ocl9h.svg"
                  class="flowstep10-vector031"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-ylxe7.svg"
                  class="flowstep10-vector032"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-l0rb.svg"
                  class="flowstep10-vector033"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-12en.svg"
                  class="flowstep10-vector034"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-hhgr.svg"
                  class="flowstep10-vector035"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-67.svg"
                  class="flowstep10-vector036"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-j43h.svg"
                  class="flowstep10-vector037"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-8mo9.svg"
                  class="flowstep10-vector038"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-0azq.svg"
                  class="flowstep10-vector039"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-up19.svg"
                  class="flowstep10-vector040"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-vn3vh.svg"
                  class="flowstep10-vector041"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-cz3c.svg"
                  class="flowstep10-vector042"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-jqy1.svg"
                  class="flowstep10-vector043"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-rlwg.svg"
                  class="flowstep10-vector044"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-hizn.svg"
                  class="flowstep10-vector045"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-lr4.svg"
                  class="flowstep10-vector046"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-vm8t.svg"
                  class="flowstep10-vector047"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-bcbh.svg"
                  class="flowstep10-vector048"
                />
                <img
                  alt="Vector6619"
                  src="public/external/vector6619-wl9q.svg"
                  class="flowstep10-vector049"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-g4ec.svg"
                  class="flowstep10-vector050"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-9tmt.svg"
                  class="flowstep10-vector051"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-qzhf.svg"
                  class="flowstep10-vector052"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-1uk.svg"
                  class="flowstep10-vector053"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-5wcf.svg"
                  class="flowstep10-vector054"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-5ot.svg"
                  class="flowstep10-vector055"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-v3v.svg"
                  class="flowstep10-vector056"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-qzir.svg"
                  class="flowstep10-vector057"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-y54i.svg"
                  class="flowstep10-vector058"
                />
              </div>
              <div class="flowstep10-freepik-shadowinject2">
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-zpzq.svg"
                  class="flowstep10-vector059"
                />
              </div>
              <div class="flowstep10-freepik-graphicsinject2">
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-xayt.svg"
                  class="flowstep10-vector060"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-579y.svg"
                  class="flowstep10-vector061"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-tgc.svg"
                  class="flowstep10-vector062"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-yvoc.svg"
                  class="flowstep10-vector063"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-i68.svg"
                  class="flowstep10-vector064"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-yqgg.svg"
                  class="flowstep10-vector065"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-jti7.svg"
                  class="flowstep10-vector066"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-gwc9.svg"
                  class="flowstep10-vector067"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-lyom.svg"
                  class="flowstep10-vector068"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-010q.svg"
                  class="flowstep10-vector069"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-ichi.svg"
                  class="flowstep10-vector070"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-qlkg.svg"
                  class="flowstep10-vector071"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-v659.svg"
                  class="flowstep10-vector072"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-cffn.svg"
                  class="flowstep10-vector073"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-d4bk.svg"
                  class="flowstep10-vector074"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-yr.svg"
                  class="flowstep10-vector075"
                />
                <div class="flowstep10-group">
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-cx8g.svg"
                    class="flowstep10-vector076"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-qsc9.svg"
                    class="flowstep10-vector077"
                  />
                </div>
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-kti7.svg"
                  class="flowstep10-vector078"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-l4ka.svg"
                  class="flowstep10-vector079"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-69of.svg"
                  class="flowstep10-vector080"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-o2yf.svg"
                  class="flowstep10-vector081"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-907b.svg"
                  class="flowstep10-vector082"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-u4q.svg"
                  class="flowstep10-vector083"
                />
                <div class="flowstep10-group1">
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-yzba.svg"
                    class="flowstep10-vector084"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-oorj.svg"
                    class="flowstep10-vector085"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-x3c.svg"
                    class="flowstep10-vector086"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-o2d.svg"
                    class="flowstep10-vector087"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-xpb.svg"
                    class="flowstep10-vector088"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-qh4.svg"
                    class="flowstep10-vector089"
                  />
                </div>
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-vnjda.svg"
                  class="flowstep10-vector090"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-j4e7.svg"
                  class="flowstep10-vector091"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-tbuh.svg"
                  class="flowstep10-vector092"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-s1el.svg"
                  class="flowstep10-vector093"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-7h5.svg"
                  class="flowstep10-vector094"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-ilym.svg"
                  class="flowstep10-vector095"
                />
                <div class="flowstep10-group2">
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-dsx.svg"
                    class="flowstep10-vector096"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-bgpj.svg"
                    class="flowstep10-vector097"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-3yk.svg"
                    class="flowstep10-vector098"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-1pu.svg"
                    class="flowstep10-vector099"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-2bjl.svg"
                    class="flowstep10-vector100"
                  />
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-ybsf.svg"
                    class="flowstep10-vector101"
                  />
                </div>
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-gpxu.svg"
                  class="flowstep10-vector102"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-lw7p.svg"
                  class="flowstep10-vector103"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-pb1i.svg"
                  class="flowstep10-vector104"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-pnsq.svg"
                  class="flowstep10-vector105"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-v88k.svg"
                  class="flowstep10-vector106"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-9nfb.svg"
                  class="flowstep10-vector107"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-5hr8.svg"
                  class="flowstep10-vector108"
                />
                <div class="flowstep10-group3">
                  <img
                    alt="Vector6620"
                    src="public/external/vector6620-wxas.svg"
                    class="flowstep10-vector109"
                  />
                </div>
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-8vt.svg"
                  class="flowstep10-vector110"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-pcnm.svg"
                  class="flowstep10-vector111"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-4d8s.svg"
                  class="flowstep10-vector112"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-z7cb.svg"
                  class="flowstep10-vector113"
                />
              </div>
              <div class="flowstep10-freepik-characterinject2">
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-yn4r.svg"
                  class="flowstep10-vector114"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-clwi.svg"
                  class="flowstep10-vector115"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-tlen.svg"
                  class="flowstep10-vector116"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-8d3e.svg"
                  class="flowstep10-vector117"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-f7j9.svg"
                  class="flowstep10-vector118"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-hris.svg"
                  class="flowstep10-vector119"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-2wl.svg"
                  class="flowstep10-vector120"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-70s.svg"
                  class="flowstep10-vector121"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-5ltd.svg"
                  class="flowstep10-vector122"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-38t.svg"
                  class="flowstep10-vector123"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-2md8.svg"
                  class="flowstep10-vector124"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-fu7.svg"
                  class="flowstep10-vector125"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-dr2j.svg"
                  class="flowstep10-vector126"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-k5sn.svg"
                  class="flowstep10-vector127"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-14un.svg"
                  class="flowstep10-vector128"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-97xa.svg"
                  class="flowstep10-vector129"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-7huq.svg"
                  class="flowstep10-vector130"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-for.svg"
                  class="flowstep10-vector131"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-hqfo.svg"
                  class="flowstep10-vector132"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-4unf.svg"
                  class="flowstep10-vector133"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-o9lk.svg"
                  class="flowstep10-vector134"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-47yb.svg"
                  class="flowstep10-vector135"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-oqqm.svg"
                  class="flowstep10-vector136"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-x0gd.svg"
                  class="flowstep10-vector137"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-qkkq.svg"
                  class="flowstep10-vector138"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-wjxk.svg"
                  class="flowstep10-vector139"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-37dq9.svg"
                  class="flowstep10-vector140"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-a8h9.svg"
                  class="flowstep10-vector141"
                />
                <img
                  alt="Vector6620"
                  src="public/external/vector6620-65is.svg"
                  class="flowstep10-vector142"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-vydg.svg"
                  class="flowstep10-vector143"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-c54n.svg"
                  class="flowstep10-vector144"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-tck9.svg"
                  class="flowstep10-vector145"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-9ye.svg"
                  class="flowstep10-vector146"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-rto.svg"
                  class="flowstep10-vector147"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-n0j.svg"
                  class="flowstep10-vector148"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-uag9.svg"
                  class="flowstep10-vector149"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-59d6.svg"
                  class="flowstep10-vector150"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-tnz.svg"
                  class="flowstep10-vector151"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-zmcd.svg"
                  class="flowstep10-vector152"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-lbka.svg"
                  class="flowstep10-vector153"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ab5e.svg"
                  class="flowstep10-vector154"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-3g9.svg"
                  class="flowstep10-vector155"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-jqir.svg"
                  class="flowstep10-vector156"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-aef.svg"
                  class="flowstep10-vector157"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-pvxk.svg"
                  class="flowstep10-vector158"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-hlaf.svg"
                  class="flowstep10-vector159"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-mzqd.svg"
                  class="flowstep10-vector160"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-n1f.svg"
                  class="flowstep10-vector161"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-t82u.svg"
                  class="flowstep10-vector162"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-998v.svg"
                  class="flowstep10-vector163"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-agqk.svg"
                  class="flowstep10-vector164"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-upy.svg"
                  class="flowstep10-vector165"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ioh1.svg"
                  class="flowstep10-vector166"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-9zlh.svg"
                  class="flowstep10-vector167"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-d7d.svg"
                  class="flowstep10-vector168"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-sw02.svg"
                  class="flowstep10-vector169"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-lrl.svg"
                  class="flowstep10-vector170"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ewc.svg"
                  class="flowstep10-vector171"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-hbis.svg"
                  class="flowstep10-vector172"
                />
              </div>
            </div>
            <span class="flowstep10-text06">
              <span class="flowstep10-text07">Icon made by&nbsp;</span>
              <span class="flowstep10-text08">Pixel perfect</span>
              <span class="flowstep10-text09">&nbsp;from&nbsp;</span>
              <span>www.flaticon.com</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
