<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./flowstep15.css" rel="stylesheet" />

      <div class="flowstep15-container">
        <div class="flowstep15-flowstep15">
          <div class="flowstep15-topbar">
            <div class="flowstep15-topbararrowback">
              <div class="flowstep15-leadingicon">
                <div class="flowstep15-container1">
                  <div class="flowstep15-statelayer">
                    <img
                      alt="iconarrowbackI662"
                      src="public/external/iconarrowbacki662-laku.svg"
                      class="flowstep15-iconarrowback"
                    />
                  </div>
                </div>
              </div>
              <span class="flowstep15-text"><span>Ramię w ramię</span></span>
              <div class="flowstep15-iconlogosafespace">
                <img
                  alt="iconlogoI662"
                  src="public/external/iconlogoi662-bhseq.svg"
                  class="flowstep15-iconlogo"
                />
              </div>
            </div>
          </div>
          <span class="flowstep15-text02">
            <span>
              Sprawdzamy czy Annie odpowiada wybrana przez Ciebie pora...
            </span>
          </span>
          <button class="flowstep15-button">
            <span class="flowstep15-text04"><span>Anuluj</span></span>
          </button>
          <div class="flowstep15-illustration">
            <div class="flowstep15-timemanagementrafiki1">
              <div class="flowstep15-freepikbackgroundcompleteinject33">
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-o7ql.svg"
                  class="flowstep15-vector"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-k4bu.svg"
                  class="flowstep15-vector01"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-8a8q.svg"
                  class="flowstep15-vector02"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-b1b6.svg"
                  class="flowstep15-vector03"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-roo.svg"
                  class="flowstep15-vector04"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-e52.svg"
                  class="flowstep15-vector05"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-8vu.svg"
                  class="flowstep15-vector06"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-pkzb.svg"
                  class="flowstep15-vector07"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-moo.svg"
                  class="flowstep15-vector08"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-k25i.svg"
                  class="flowstep15-vector09"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-z59l.svg"
                  class="flowstep15-vector10"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-sbha.svg"
                  class="flowstep15-vector11"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-59hd.svg"
                  class="flowstep15-vector12"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-2mk.svg"
                  class="flowstep15-vector13"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-i9op.svg"
                  class="flowstep15-vector14"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-iqtq.svg"
                  class="flowstep15-vector15"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-zuq3.svg"
                  class="flowstep15-vector16"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-kg8.svg"
                  class="flowstep15-vector17"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-rioc.svg"
                  class="flowstep15-vector18"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-lgp.svg"
                  class="flowstep15-vector19"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-sxua.svg"
                  class="flowstep15-vector20"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-g3hw.svg"
                  class="flowstep15-vector21"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-gcwl.svg"
                  class="flowstep15-vector22"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-ti.svg"
                  class="flowstep15-vector23"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-qmkj.svg"
                  class="flowstep15-vector24"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-6s2f.svg"
                  class="flowstep15-vector25"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-zzn.svg"
                  class="flowstep15-vector26"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-p0kv.svg"
                  class="flowstep15-vector27"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-4kn6n.svg"
                  class="flowstep15-vector28"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-1j9.svg"
                  class="flowstep15-vector29"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-88q.svg"
                  class="flowstep15-vector30"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-nhwt.svg"
                  class="flowstep15-vector31"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-xrkt.svg"
                  class="flowstep15-vector32"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-l9z.svg"
                  class="flowstep15-vector33"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-trob.svg"
                  class="flowstep15-vector34"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-jo71.svg"
                  class="flowstep15-vector35"
                />
                <img
                  alt="Vector6625"
                  src="public/external/vector6625-a9om.svg"
                  class="flowstep15-vector36"
                />
              </div>
              <div class="flowstep15-freepik-shadowinject33">
                <img
                  alt="freepikpathinject336625"
                  src="public/external/freepikpathinject336625-gib.svg"
                  class="flowstep15-freepikpathinject33"
                />
              </div>
              <div class="flowstep15-freepik-hourglassinject33">
                <div class="flowstep15-group">
                  <img
                    alt="Vector6626"
                    src="public/external/vector6626-y33s.svg"
                    class="flowstep15-vector37"
                  />
                  <img
                    alt="Vector6626"
                    src="public/external/vector6626-wz8o.svg"
                    class="flowstep15-vector38"
                  />
                </div>
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-tcdk.svg"
                  class="flowstep15-vector39"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-ca8u.svg"
                  class="flowstep15-vector40"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-o1t.svg"
                  class="flowstep15-vector41"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-uyb8.svg"
                  class="flowstep15-vector42"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-uwcd.svg"
                  class="flowstep15-vector43"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-8jo.svg"
                  class="flowstep15-vector44"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-mj1.svg"
                  class="flowstep15-vector45"
                />
              </div>
              <div class="flowstep15-freepik-characterinject33">
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-c8vp.svg"
                  class="flowstep15-vector46"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-8gb.svg"
                  class="flowstep15-vector47"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-r9wu.svg"
                  class="flowstep15-vector48"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-buxg.svg"
                  class="flowstep15-vector49"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-dzre.svg"
                  class="flowstep15-vector50"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-c6k8.svg"
                  class="flowstep15-vector51"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-iet.svg"
                  class="flowstep15-vector52"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-uf1l.svg"
                  class="flowstep15-vector53"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-353.svg"
                  class="flowstep15-vector54"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-a5oc.svg"
                  class="flowstep15-vector55"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-teyj.svg"
                  class="flowstep15-vector56"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-8ur.svg"
                  class="flowstep15-vector57"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-gdjg.svg"
                  class="flowstep15-vector58"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-fr4.svg"
                  class="flowstep15-vector59"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-c9bn.svg"
                  class="flowstep15-vector60"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-l1sp.svg"
                  class="flowstep15-vector61"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-dk.svg"
                  class="flowstep15-vector62"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-gzio.svg"
                  class="flowstep15-vector63"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-7gw.svg"
                  class="flowstep15-vector64"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-4vl.svg"
                  class="flowstep15-vector65"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-wd5a.svg"
                  class="flowstep15-vector66"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-kj5t.svg"
                  class="flowstep15-vector67"
                />
                <div class="flowstep15-group1">
                  <img
                    alt="Vector6626"
                    src="public/external/vector6626-v1ig.svg"
                    class="flowstep15-vector68"
                  />
                  <img
                    alt="Vector6626"
                    src="public/external/vector6626-np2q.svg"
                    class="flowstep15-vector69"
                  />
                  <img
                    alt="Vector6626"
                    src="public/external/vector6626-ho9p.svg"
                    class="flowstep15-vector70"
                  />
                </div>
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-c46.svg"
                  class="flowstep15-vector71"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-ggf9.svg"
                  class="flowstep15-vector72"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-m7x.svg"
                  class="flowstep15-vector73"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-bve.svg"
                  class="flowstep15-vector74"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-mtp.svg"
                  class="flowstep15-vector75"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-36wh.svg"
                  class="flowstep15-vector76"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-vjvk.svg"
                  class="flowstep15-vector77"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-ezbp.svg"
                  class="flowstep15-vector78"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-mdya.svg"
                  class="flowstep15-vector79"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-lgf6.svg"
                  class="flowstep15-vector80"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-nc7m.svg"
                  class="flowstep15-vector81"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-9qni.svg"
                  class="flowstep15-vector82"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-5qtl.svg"
                  class="flowstep15-vector83"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-8th9.svg"
                  class="flowstep15-vector84"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-8scd.svg"
                  class="flowstep15-vector85"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-98ae.svg"
                  class="flowstep15-vector86"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-3uz.svg"
                  class="flowstep15-vector87"
                />
              </div>
              <div class="flowstep15-freepik-clockinject33">
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-zzk.svg"
                  class="flowstep15-vector88"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-ae9n.svg"
                  class="flowstep15-vector89"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-h7nb.svg"
                  class="flowstep15-vector90"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-yp48.svg"
                  class="flowstep15-vector91"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-1bm.svg"
                  class="flowstep15-vector92"
                />
                <img
                  alt="Vector6626"
                  src="public/external/vector6626-v23n.svg"
                  class="flowstep15-vector93"
                />
              </div>
            </div>
            <span class="flowstep15-text06">
              <span class="flowstep15-text07">Icon made by&nbsp;</span>
              <span class="flowstep15-text08">Pixel perfect</span>
              <span class="flowstep15-text09">&nbsp;from&nbsp;</span>
              <span>www.flaticon.com</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
