<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./flowstep12.css" rel="stylesheet" />

      <div class="flowstep12-container">
        <div class="flowstep12-flowstep12">
          <div class="flowstep12-topbar">
            <div class="flowstep12-topbararrowback">
              <div class="flowstep12-leadingicon">
                <div class="flowstep12-container1">
                  <div class="flowstep12-statelayer">
                    <img
                      alt="iconarrowbackI561"
                      src="public/external/iconarrowbacki561-xowr.svg"
                      class="flowstep12-iconarrowback"
                    />
                  </div>
                </div>
              </div>
              <span class="flowstep12-text"><span>Ramię w ramię</span></span>
              <div class="flowstep12-iconlogosafespace">
                <img
                  alt="iconlogoI561"
                  src="public/external/iconlogoi561-71gw.svg"
                  class="flowstep12-iconlogo"
                />
              </div>
            </div>
          </div>
          <span class="flowstep12-text02">
            <span>Teraz wybieramy miejsce spotkania...</span>
          </span>
          <button class="flowstep12-button">
            <span class="flowstep12-text04"><span>Anuluj</span></span>
          </button>
          <div class="flowstep12-illustration">
            <div class="flowstep12-onlineworldrafiki1">
              <div class="flowstep12-freepikbackgroundcompleteinject18">
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-f6yu.svg"
                  class="flowstep12-vector"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-qvsm.svg"
                  class="flowstep12-vector001"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-eke.svg"
                  class="flowstep12-vector002"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-raj3.svg"
                  class="flowstep12-vector003"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-qm99.svg"
                  class="flowstep12-vector004"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-zpyo.svg"
                  class="flowstep12-vector005"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-h5j6.svg"
                  class="flowstep12-vector006"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-0cu.svg"
                  class="flowstep12-vector007"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-0vg9.svg"
                  class="flowstep12-vector008"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-g4p.svg"
                  class="flowstep12-vector009"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-rvr4.svg"
                  class="flowstep12-vector010"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-u6pc.svg"
                  class="flowstep12-vector011"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-49ow.svg"
                  class="flowstep12-vector012"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-3ynr.svg"
                  class="flowstep12-vector013"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-7xb5.svg"
                  class="flowstep12-vector014"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-rq.svg"
                  class="flowstep12-vector015"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-gu78.svg"
                  class="flowstep12-vector016"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-907w.svg"
                  class="flowstep12-vector017"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-huvp.svg"
                  class="flowstep12-vector018"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-53h.svg"
                  class="flowstep12-vector019"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-f5ye.svg"
                  class="flowstep12-vector020"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-5z.svg"
                  class="flowstep12-vector021"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-un.svg"
                  class="flowstep12-vector022"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-64ia.svg"
                  class="flowstep12-vector023"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-tl5k.svg"
                  class="flowstep12-vector024"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-zyv.svg"
                  class="flowstep12-vector025"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-e0s8.svg"
                  class="flowstep12-vector026"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-vugt.svg"
                  class="flowstep12-vector027"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-mziq.svg"
                  class="flowstep12-vector028"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-f1yq.svg"
                  class="flowstep12-vector029"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-6g9.svg"
                  class="flowstep12-vector030"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ef8h.svg"
                  class="flowstep12-vector031"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-hcg8.svg"
                  class="flowstep12-vector032"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-6xsh.svg"
                  class="flowstep12-vector033"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-hvpl.svg"
                  class="flowstep12-vector034"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-xp0p.svg"
                  class="flowstep12-vector035"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-7izh.svg"
                  class="flowstep12-vector036"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-uqyv.svg"
                  class="flowstep12-vector037"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-is1.svg"
                  class="flowstep12-vector038"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-i6bn.svg"
                  class="flowstep12-vector039"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-pjrg.svg"
                  class="flowstep12-vector040"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-vf6.svg"
                  class="flowstep12-vector041"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ptt5.svg"
                  class="flowstep12-vector042"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-fnxs.svg"
                  class="flowstep12-vector043"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-2030c.svg"
                  class="flowstep12-vector044"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-1qam.svg"
                  class="flowstep12-vector045"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-t3.svg"
                  class="flowstep12-vector046"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-60yn.svg"
                  class="flowstep12-vector047"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-hyyh.svg"
                  class="flowstep12-vector048"
                />
              </div>
              <div class="flowstep12-freepik-shadowinject18">
                <img
                  alt="freepikpathinject186621"
                  src="public/external/freepikpathinject186621-xzn.svg"
                  class="flowstep12-freepikpathinject18"
                />
              </div>
              <div class="flowstep12-freepikonlineworldinject18">
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-rbo.svg"
                  class="flowstep12-vector049"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-psmb.svg"
                  class="flowstep12-vector050"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-1hs.svg"
                  class="flowstep12-vector051"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-l5lj.svg"
                  class="flowstep12-vector052"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-3nil.svg"
                  class="flowstep12-vector053"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-ci6l.svg"
                  class="flowstep12-vector054"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-1x2.svg"
                  class="flowstep12-vector055"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-l1ge.svg"
                  class="flowstep12-vector056"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-id7.svg"
                  class="flowstep12-vector057"
                />
                <img
                  alt="Vector6621"
                  src="public/external/vector6621-2kkk.svg"
                  class="flowstep12-vector058"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-o5vb.svg"
                  class="flowstep12-vector059"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-y4ep.svg"
                  class="flowstep12-vector060"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-bwge.svg"
                  class="flowstep12-vector061"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-9hd1.svg"
                  class="flowstep12-vector062"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-iur.svg"
                  class="flowstep12-vector063"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-wz9.svg"
                  class="flowstep12-vector064"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-igf.svg"
                  class="flowstep12-vector065"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-5sg8.svg"
                  class="flowstep12-vector066"
                />
              </div>
              <div class="flowstep12-freepik-characterinject18">
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-vplh.svg"
                  class="flowstep12-vector067"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-0zbs.svg"
                  class="flowstep12-vector068"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-5gqc.svg"
                  class="flowstep12-vector069"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-v7gj.svg"
                  class="flowstep12-vector070"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-jum.svg"
                  class="flowstep12-vector071"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-2ct.svg"
                  class="flowstep12-vector072"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-vyr0e.svg"
                  class="flowstep12-vector073"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-xgxo.svg"
                  class="flowstep12-vector074"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-9c69.svg"
                  class="flowstep12-vector075"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-sgkn.svg"
                  class="flowstep12-vector076"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-15q.svg"
                  class="flowstep12-vector077"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector078"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector079"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector080"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector081"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector082"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector083"
                />
                <div class="flowstep12-group">
                  <img
                    alt="Vector6622"
                    src="public/external/vector6622-7vcc.svg"
                    class="flowstep12-vector084"
                  />
                </div>
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector085"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector086"
                />
                <div class="flowstep12-group1">
                  <img
                    alt="Vector6622"
                    src="public/external/vector6622-gpzc.svg"
                    class="flowstep12-vector087"
                  />
                </div>
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector088"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector089"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector090"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector091"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector092"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector093"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector094"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector095"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector096"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector097"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector098"
                />
                <img
                  alt="Vector6622"
                  src="https://play.teleporthq.io/static/svg/default-img.svg"
                  class="flowstep12-vector099"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-u8co.svg"
                  class="flowstep12-vector100"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-dhrb.svg"
                  class="flowstep12-vector101"
                />
                <div class="flowstep12-group2">
                  <img
                    alt="Vector6622"
                    src="public/external/vector6622-qnn9.svg"
                    class="flowstep12-vector102"
                  />
                </div>
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-zis.svg"
                  class="flowstep12-vector103"
                />
                <img
                  alt="Vector6622"
                  src="public/external/vector6622-89tx.svg"
                  class="flowstep12-vector104"
                />
              </div>
            </div>
            <span class="flowstep12-text06">
              <span class="flowstep12-text07">Icon made by&nbsp;</span>
              <span class="flowstep12-text08">Pixel perfect</span>
              <span class="flowstep12-text09">&nbsp;from&nbsp;</span>
              <span>www.flaticon.com</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
