.flowstep03-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.flowstep03-flowstep03 {
  width: 100%;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-lightgrey);
}
.flowstep03-text {
  top: 232px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: HarmonyOS Sans;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-buttontile {
  top: 292px;
  left: 24px;
  width: 312px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 30px 0px rgba(19, 19, 19, 0.10000000149011612);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.flowstep03-text02 {
  top: 13px;
  left: 140px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-iconexpand {
  top: 16px;
  left: 272px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.flowstep03-button {
  gap: 8px;
  top: 544px;
  left: 24px;
  width: 312px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 15px 0px rgba(5, 46, 114, 0.25);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-middleblue);
}
.flowstep03-text04 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: HarmonyOS Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-iconarrowforward {
  width: 32px;
  height: 32px;
}
.flowstep03-topbar {
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.flowstep03-topbar1 {
  gap: 6px;
  width: 360px;
  height: 64px;
  display: flex;
  padding: 8px 4px;
  box-shadow: 0px 0px 4px 0px rgba(19, 19, 19, 0.10000000149011612);
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-default-white);
}
.flowstep03-text06 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: HarmonyOS Sans;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-frame7 {
  gap: 4px;
  top: 464px;
  left: 24px;
  width: 312px;
  display: flex;
  padding: 16px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-lightblue);
}
.flowstep03-micline {
  width: 24px;
  height: 24px;
}
.flowstep03-text08 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: HarmonyOS Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-frame8 {
  gap: 4px;
  top: 464px;
  left: 24px;
  width: 312px;
  display: flex;
  padding: 16px 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-lightblue);
}
.flowstep03-micline1 {
  width: 24px;
  height: 24px;
}
.flowstep03-text10 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: HarmonyOS Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.flowstep03-leadingicon {
  gap: 10px;
  top: 8px;
  left: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.flowstep03-container1 {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
}
.flowstep03-statelayer {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.flowstep03-iconarrowback {
  width: 24px;
  height: 24px;
}
